--
-- PostgreSQL database dump
--

\restrict eG3qmYiI2FUGKCMjmEhpNwYRQ4hvdMBpZMlAor6aM6F6FCPUFdjtLMPpc2QsqJb

-- Dumped from database version 16.15
-- Dumped by pg_dump version 16.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: aporte; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.aporte (
    id_aporte integer NOT NULL,
    tarjeta_id integer NOT NULL,
    inscripcion_id integer NOT NULL,
    traduccion_aportada character varying(255) NOT NULL,
    definicion_aportada text NOT NULL,
    ejemplo_aportado character varying(150),
    tipo_aporte character varying(40) NOT NULL,
    fecha_aporte timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: aporte_id_aporte_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.aporte_id_aporte_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: aporte_id_aporte_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.aporte_id_aporte_seq OWNED BY public.aporte.id_aporte;


--
-- Name: curso; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.curso (
    id_curso integer NOT NULL,
    nombre character varying(150) NOT NULL,
    periodo character varying(20) NOT NULL,
    fecha_inicio date NOT NULL,
    fecha_fin date NOT NULL,
    docente_id integer NOT NULL,
    estado character varying(30) NOT NULL,
    codigo_acceso character varying(20)
);


--
-- Name: curso_id_curso_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.curso_id_curso_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: curso_id_curso_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.curso_id_curso_seq OWNED BY public.curso.id_curso;


--
-- Name: etiqueta_contexto; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.etiqueta_contexto (
    id_etiqueta integer NOT NULL,
    tarjeta_id integer NOT NULL,
    tipo character varying(40) NOT NULL,
    valor character varying(150) NOT NULL,
    fecha_asignacion timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: etiqueta_contexto_id_etiqueta_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.etiqueta_contexto_id_etiqueta_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: etiqueta_contexto_id_etiqueta_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.etiqueta_contexto_id_etiqueta_seq OWNED BY public.etiqueta_contexto.id_etiqueta;


--
-- Name: inscripcion; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.inscripcion (
    id_inscripcion integer NOT NULL,
    curso_id integer NOT NULL,
    estudiante_id integer NOT NULL,
    fecha_inscripcion date NOT NULL,
    estado character varying(30) NOT NULL
);


--
-- Name: inscripcion_id_inscripcion_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.inscripcion_id_inscripcion_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: inscripcion_id_inscripcion_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.inscripcion_id_inscripcion_seq OWNED BY public.inscripcion.id_inscripcion;


--
-- Name: mazo; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.mazo (
    id_mazo integer NOT NULL,
    curso_id integer NOT NULL,
    docente_id integer NOT NULL,
    nombre_lectura character varying(200) NOT NULL,
    autor character varying(150) NOT NULL,
    semana integer NOT NULL,
    variante_regional_predeterminada character varying(100),
    estado character varying(30) NOT NULL,
    fecha_apertura date NOT NULL,
    fecha_cierre date NOT NULL,
    fecha_creacion timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: mazo_id_mazo_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.mazo_id_mazo_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: mazo_id_mazo_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.mazo_id_mazo_seq OWNED BY public.mazo.id_mazo;


--
-- Name: pregunta_quiz; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.pregunta_quiz (
    id_pregunta integer NOT NULL,
    quiz_id integer NOT NULL,
    tarjeta_id integer NOT NULL,
    tipo_pregunta character varying(50) NOT NULL,
    enunciado text NOT NULL,
    opcion_a character varying(255),
    opcion_b character varying(255),
    opcion_c character varying(255),
    opcion_d character varying(255),
    respuesta_correcta character varying(255) NOT NULL,
    orden integer
);


--
-- Name: pregunta_quiz_id_pregunta_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.pregunta_quiz_id_pregunta_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: pregunta_quiz_id_pregunta_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.pregunta_quiz_id_pregunta_seq OWNED BY public.pregunta_quiz.id_pregunta;


--
-- Name: progreso_estudio; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.progreso_estudio (
    id_progreso integer NOT NULL,
    inscripcion_id integer NOT NULL,
    tarjeta_id integer NOT NULL,
    factor_facilidad numeric,
    intervalo_dias integer,
    repeticiones integer DEFAULT 0,
    ultima_valoracion character varying(30),
    fecha_ultimo_repaso timestamp without time zone,
    fecha_proximo_repaso timestamp without time zone
);


--
-- Name: progreso_estudio_id_progreso_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.progreso_estudio_id_progreso_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: progreso_estudio_id_progreso_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.progreso_estudio_id_progreso_seq OWNED BY public.progreso_estudio.id_progreso;


--
-- Name: quiz; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.quiz (
    id_quiz integer NOT NULL,
    curso_id integer NOT NULL,
    titulo character varying(200) NOT NULL,
    semana_corte integer NOT NULL,
    fecha_creacion timestamp without time zone DEFAULT now() NOT NULL,
    fecha_apertura timestamp without time zone,
    fecha_cierre timestamp without time zone,
    tiempo_limite_min integer,
    estado character varying(30) NOT NULL
);


--
-- Name: quiz_id_quiz_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.quiz_id_quiz_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: quiz_id_quiz_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.quiz_id_quiz_seq OWNED BY public.quiz.id_quiz;


--
-- Name: quiz_mazo; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.quiz_mazo (
    quiz_id integer NOT NULL,
    mazo_id integer NOT NULL
);


--
-- Name: respuesta_quiz; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.respuesta_quiz (
    id_respuesta integer NOT NULL,
    resultado_id integer NOT NULL,
    pregunta_id integer NOT NULL,
    respuesta_estudiante character varying(255),
    es_correcta boolean,
    puntaje_obtenido numeric
);


--
-- Name: respuesta_quiz_id_respuesta_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.respuesta_quiz_id_respuesta_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: respuesta_quiz_id_respuesta_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.respuesta_quiz_id_respuesta_seq OWNED BY public.respuesta_quiz.id_respuesta;


--
-- Name: resultado_quiz; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.resultado_quiz (
    id_resultado integer NOT NULL,
    quiz_id integer NOT NULL,
    estudiante_id integer NOT NULL,
    fecha_inicio timestamp without time zone,
    fecha_envio timestamp without time zone,
    puntaje_obtenido numeric,
    puntaje_maximo numeric,
    calificacion numeric,
    tiempo_empleado_seg integer
);


--
-- Name: resultado_quiz_id_resultado_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.resultado_quiz_id_resultado_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: resultado_quiz_id_resultado_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.resultado_quiz_id_resultado_seq OWNED BY public.resultado_quiz.id_resultado;


--
-- Name: tarjeta; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.tarjeta (
    id_tarjeta integer NOT NULL,
    mazo_id integer NOT NULL,
    palabra character varying(150) NOT NULL,
    traduccion character varying(255) NOT NULL,
    definicion text NOT NULL,
    ejemplo character varying(150),
    estado character varying(30) NOT NULL,
    fecha_creacion timestamp without time zone DEFAULT now() NOT NULL,
    fecha_revision timestamp without time zone
);


--
-- Name: tarjeta_id_tarjeta_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.tarjeta_id_tarjeta_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: tarjeta_id_tarjeta_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.tarjeta_id_tarjeta_seq OWNED BY public.tarjeta.id_tarjeta;


--
-- Name: usuario; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.usuario (
    id_usuario integer NOT NULL,
    nombre_completo character varying(150) NOT NULL,
    email character varying(150) NOT NULL,
    password_hash character varying(255),
    rol character varying(30) NOT NULL,
    nivel_ingles character varying(10),
    codigo_estudiantil character varying(20),
    avatar character varying(500),
    intereses text[],
    activo boolean DEFAULT true NOT NULL,
    fecha_registro timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: usuario_id_usuario_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.usuario_id_usuario_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: usuario_id_usuario_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.usuario_id_usuario_seq OWNED BY public.usuario.id_usuario;


--
-- Name: wordnet_cache; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.wordnet_cache (
    id_cache integer NOT NULL,
    palabra character varying(150) NOT NULL,
    sentido integer DEFAULT 1 NOT NULL,
    definicion text,
    sinonimos text,
    hiperonimos text,
    hiponimos text,
    fuente character varying(20) NOT NULL,
    confirmado_por_estudiante boolean DEFAULT false NOT NULL,
    fecha_consulta timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: wordnet_cache_id_cache_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.wordnet_cache_id_cache_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: wordnet_cache_id_cache_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.wordnet_cache_id_cache_seq OWNED BY public.wordnet_cache.id_cache;


--
-- Name: aporte id_aporte; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.aporte ALTER COLUMN id_aporte SET DEFAULT nextval('public.aporte_id_aporte_seq'::regclass);


--
-- Name: curso id_curso; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.curso ALTER COLUMN id_curso SET DEFAULT nextval('public.curso_id_curso_seq'::regclass);


--
-- Name: etiqueta_contexto id_etiqueta; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.etiqueta_contexto ALTER COLUMN id_etiqueta SET DEFAULT nextval('public.etiqueta_contexto_id_etiqueta_seq'::regclass);


--
-- Name: inscripcion id_inscripcion; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.inscripcion ALTER COLUMN id_inscripcion SET DEFAULT nextval('public.inscripcion_id_inscripcion_seq'::regclass);


--
-- Name: mazo id_mazo; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.mazo ALTER COLUMN id_mazo SET DEFAULT nextval('public.mazo_id_mazo_seq'::regclass);


--
-- Name: pregunta_quiz id_pregunta; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pregunta_quiz ALTER COLUMN id_pregunta SET DEFAULT nextval('public.pregunta_quiz_id_pregunta_seq'::regclass);


--
-- Name: progreso_estudio id_progreso; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.progreso_estudio ALTER COLUMN id_progreso SET DEFAULT nextval('public.progreso_estudio_id_progreso_seq'::regclass);


--
-- Name: quiz id_quiz; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.quiz ALTER COLUMN id_quiz SET DEFAULT nextval('public.quiz_id_quiz_seq'::regclass);


--
-- Name: respuesta_quiz id_respuesta; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.respuesta_quiz ALTER COLUMN id_respuesta SET DEFAULT nextval('public.respuesta_quiz_id_respuesta_seq'::regclass);


--
-- Name: resultado_quiz id_resultado; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.resultado_quiz ALTER COLUMN id_resultado SET DEFAULT nextval('public.resultado_quiz_id_resultado_seq'::regclass);


--
-- Name: tarjeta id_tarjeta; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.tarjeta ALTER COLUMN id_tarjeta SET DEFAULT nextval('public.tarjeta_id_tarjeta_seq'::regclass);


--
-- Name: usuario id_usuario; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.usuario ALTER COLUMN id_usuario SET DEFAULT nextval('public.usuario_id_usuario_seq'::regclass);


--
-- Name: wordnet_cache id_cache; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.wordnet_cache ALTER COLUMN id_cache SET DEFAULT nextval('public.wordnet_cache_id_cache_seq'::regclass);


--
-- Data for Name: aporte; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: curso; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.curso (id_curso, nombre, periodo, fecha_inicio, fecha_fin, docente_id, estado, codigo_acceso) FROM stdin;
1	Literatura Angl├│fona	2026-2	2026-08-01	2026-12-15	1	activo	J4Y3MPXU
\.


--
-- Data for Name: etiqueta_contexto; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: inscripcion; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.inscripcion (id_inscripcion, curso_id, estudiante_id, fecha_inscripcion, estado) FROM stdin;
1	1	2	2026-09-23	activa
2	1	3	2026-09-23	activa
3	1	4	2026-09-23	activa
4	1	8	2026-09-29	activa
37	1	6	2026-09-30	activa
\.


--
-- Data for Name: mazo; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.mazo (id_mazo, curso_id, docente_id, nombre_lectura, autor, semana, variante_regional_predeterminada, estado, fecha_apertura, fecha_cierre, fecha_creacion) FROM stdin;
1	1	13	el principito	thalia	10	Nigeriano	abierto	2026-09-30	2026-10-07	2026-09-30 13:42:40.004096
2	1	13	el principito2	thalia	11	Brit├ínico	abierto	2026-09-30	2026-10-01	2026-09-30 13:49:24.734799
3	1	13	el principito	jm	12	Brit├ínico	abierto	2026-10-01	2026-10-02	2026-09-30 13:50:05.969101
\.


--
-- Data for Name: pregunta_quiz; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.pregunta_quiz (id_pregunta, quiz_id, tarjeta_id, tipo_pregunta, enunciado, opcion_a, opcion_b, opcion_c, opcion_d, respuesta_correcta, orden) FROM stdin;
\.


--
-- Data for Name: progreso_estudio; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.progreso_estudio (id_progreso, inscripcion_id, tarjeta_id, factor_facilidad, intervalo_dias, repeticiones, ultima_valoracion, fecha_ultimo_repaso, fecha_proximo_repaso) FROM stdin;
41	1	5	2.5	1	1	Buena	2026-10-01 18:21:17.034	2026-10-02 18:21:17.034
4	1	3	1.3	13	5	Dif├¡cil	2026-10-01 18:21:24.682	2026-10-14 18:21:24.682
1	1	1	1.36	22	6	Buena	2026-10-01 18:21:27.372	2026-10-23 18:21:27.372
14	1	4	2.7	824	7	Buena	2026-10-01 18:21:30.286	2029-01-02 18:21:30.286
2	1	2	2.8	17444	10	Buena	2026-10-01 18:21:33.069	2074-07-05 18:21:33.069
\.


--
-- Data for Name: quiz; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.quiz (id_quiz, curso_id, titulo, semana_corte, fecha_creacion, fecha_apertura, fecha_cierre, tiempo_limite_min, estado) FROM stdin;
\.


--
-- Data for Name: quiz_mazo; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.quiz_mazo (quiz_id, mazo_id) FROM stdin;
\.


--
-- Data for Name: respuesta_quiz; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.respuesta_quiz (id_respuesta, resultado_id, pregunta_id, respuesta_estudiante, es_correcta, puntaje_obtenido) FROM stdin;
\.


--
-- Data for Name: resultado_quiz; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.resultado_quiz (id_resultado, quiz_id, estudiante_id, fecha_inicio, fecha_envio, puntaje_obtenido, puntaje_maximo, calificacion, tiempo_empleado_seg) FROM stdin;
\.


--
-- Data for Name: tarjeta; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.tarjeta (id_tarjeta, mazo_id, palabra, traduccion, definicion, ejemplo, estado, fecha_creacion, fecha_revision) FROM stdin;
1	1	double	doble	doble	doble	revisado_docente	2026-09-30 08:45:02.807	2026-09-30 08:55:13.805
2	1	milk	leche	leche	leche	revisado_docente	2026-09-30 08:54:42.56	2026-09-30 08:55:20.752
3	1	red	rojo	rojo	rojo	revisado_docente	2026-09-30 09:00:03.362	2026-09-30 09:00:26.921
4	1	house	casa	casa	casaaaaaaaa	revisado_docente	2026-10-01 01:28:00.431	2026-10-01 01:29:46.019
5	2	law	ley	ley	ley	revisado_docente	2026-10-01 17:22:12.895	2026-10-01 17:22:36.558
\.


--
-- Data for Name: usuario; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: wordnet_cache; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.wordnet_cache (id_cache, palabra, sentido, definicion, sinonimos, hiperonimos, hiponimos, fuente, confirmado_por_estudiante, fecha_consulta) FROM stdin;
\.


--
-- Name: aporte_id_aporte_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.aporte_id_aporte_seq', 8, true);


--
-- Name: curso_id_curso_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.curso_id_curso_seq', 1, true);


--
-- Name: etiqueta_contexto_id_etiqueta_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.etiqueta_contexto_id_etiqueta_seq', 10, true);


--
-- Name: inscripcion_id_inscripcion_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.inscripcion_id_inscripcion_seq', 37, true);


--
-- Name: mazo_id_mazo_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.mazo_id_mazo_seq', 3, true);


--
-- Name: pregunta_quiz_id_pregunta_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.pregunta_quiz_id_pregunta_seq', 1, false);


--
-- Name: progreso_estudio_id_progreso_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.progreso_estudio_id_progreso_seq', 45, true);


--
-- Name: quiz_id_quiz_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.quiz_id_quiz_seq', 1, false);


--
-- Name: respuesta_quiz_id_respuesta_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.respuesta_quiz_id_respuesta_seq', 1, false);


--
-- Name: resultado_quiz_id_resultado_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.resultado_quiz_id_resultado_seq', 1, false);


--
-- Name: tarjeta_id_tarjeta_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.tarjeta_id_tarjeta_seq', 5, true);


--
-- Name: usuario_id_usuario_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.usuario_id_usuario_seq', 13, true);


--
-- Name: wordnet_cache_id_cache_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.wordnet_cache_id_cache_seq', 1, false);


--
-- Name: aporte aporte_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.aporte
    ADD CONSTRAINT aporte_pkey PRIMARY KEY (id_aporte);


--
-- Name: curso curso_codigo_acceso_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.curso
    ADD CONSTRAINT curso_codigo_acceso_key UNIQUE (codigo_acceso);


--
-- Name: curso curso_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.curso
    ADD CONSTRAINT curso_pkey PRIMARY KEY (id_curso);


--
-- Name: etiqueta_contexto etiqueta_contexto_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.etiqueta_contexto
    ADD CONSTRAINT etiqueta_contexto_pkey PRIMARY KEY (id_etiqueta);


--
-- Name: inscripcion inscripcion_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.inscripcion
    ADD CONSTRAINT inscripcion_pkey PRIMARY KEY (id_inscripcion);


--
-- Name: mazo mazo_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.mazo
    ADD CONSTRAINT mazo_pkey PRIMARY KEY (id_mazo);


--
-- Name: pregunta_quiz pregunta_quiz_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pregunta_quiz
    ADD CONSTRAINT pregunta_quiz_pkey PRIMARY KEY (id_pregunta);


--
-- Name: progreso_estudio progreso_estudio_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.progreso_estudio
    ADD CONSTRAINT progreso_estudio_pkey PRIMARY KEY (id_progreso);


--
-- Name: quiz_mazo quiz_mazo_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.quiz_mazo
    ADD CONSTRAINT quiz_mazo_pkey PRIMARY KEY (quiz_id, mazo_id);


--
-- Name: quiz quiz_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.quiz
    ADD CONSTRAINT quiz_pkey PRIMARY KEY (id_quiz);


--
-- Name: respuesta_quiz respuesta_quiz_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.respuesta_quiz
    ADD CONSTRAINT respuesta_quiz_pkey PRIMARY KEY (id_respuesta);


--
-- Name: resultado_quiz resultado_quiz_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.resultado_quiz
    ADD CONSTRAINT resultado_quiz_pkey PRIMARY KEY (id_resultado);


--
-- Name: tarjeta tarjeta_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.tarjeta
    ADD CONSTRAINT tarjeta_pkey PRIMARY KEY (id_tarjeta);


--
-- Name: inscripcion uq_inscripcion_curso_estudiante; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.inscripcion
    ADD CONSTRAINT uq_inscripcion_curso_estudiante UNIQUE (curso_id, estudiante_id);


--
-- Name: progreso_estudio uq_progreso_inscripcion_tarjeta; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.progreso_estudio
    ADD CONSTRAINT uq_progreso_inscripcion_tarjeta UNIQUE (inscripcion_id, tarjeta_id);


--
-- Name: respuesta_quiz uq_respuesta_resultado_pregunta; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.respuesta_quiz
    ADD CONSTRAINT uq_respuesta_resultado_pregunta UNIQUE (resultado_id, pregunta_id);


--
-- Name: resultado_quiz uq_resultado_quiz_estudiante; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.resultado_quiz
    ADD CONSTRAINT uq_resultado_quiz_estudiante UNIQUE (quiz_id, estudiante_id);


--
-- Name: tarjeta uq_tarjeta_mazo_palabra; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.tarjeta
    ADD CONSTRAINT uq_tarjeta_mazo_palabra UNIQUE (mazo_id, palabra);


--
-- Name: wordnet_cache uq_wordnetcache_palabra_sentido; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.wordnet_cache
    ADD CONSTRAINT uq_wordnetcache_palabra_sentido UNIQUE (palabra, sentido);


--
-- Name: usuario usuario_email_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.usuario
    ADD CONSTRAINT usuario_email_key UNIQUE (email);


--
-- Name: usuario usuario_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.usuario
    ADD CONSTRAINT usuario_pkey PRIMARY KEY (id_usuario);


--
-- Name: wordnet_cache wordnet_cache_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.wordnet_cache
    ADD CONSTRAINT wordnet_cache_pkey PRIMARY KEY (id_cache);


--
-- Name: aporte fk_aporte_inscripcion; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.aporte
    ADD CONSTRAINT fk_aporte_inscripcion FOREIGN KEY (inscripcion_id) REFERENCES public.inscripcion(id_inscripcion);


--
-- Name: aporte fk_aporte_tarjeta; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.aporte
    ADD CONSTRAINT fk_aporte_tarjeta FOREIGN KEY (tarjeta_id) REFERENCES public.tarjeta(id_tarjeta);


--
-- Name: curso fk_curso_docente; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.curso
    ADD CONSTRAINT fk_curso_docente FOREIGN KEY (docente_id) REFERENCES public.usuario(id_usuario);


--
-- Name: etiqueta_contexto fk_etiqueta_tarjeta; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.etiqueta_contexto
    ADD CONSTRAINT fk_etiqueta_tarjeta FOREIGN KEY (tarjeta_id) REFERENCES public.tarjeta(id_tarjeta);


--
-- Name: inscripcion fk_inscripcion_curso; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.inscripcion
    ADD CONSTRAINT fk_inscripcion_curso FOREIGN KEY (curso_id) REFERENCES public.curso(id_curso);


--
-- Name: inscripcion fk_inscripcion_estudiante; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.inscripcion
    ADD CONSTRAINT fk_inscripcion_estudiante FOREIGN KEY (estudiante_id) REFERENCES public.usuario(id_usuario);


--
-- Name: mazo fk_mazo_curso; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.mazo
    ADD CONSTRAINT fk_mazo_curso FOREIGN KEY (curso_id) REFERENCES public.curso(id_curso);


--
-- Name: mazo fk_mazo_docente; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.mazo
    ADD CONSTRAINT fk_mazo_docente FOREIGN KEY (docente_id) REFERENCES public.usuario(id_usuario);


--
-- Name: pregunta_quiz fk_pregunta_quiz; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pregunta_quiz
    ADD CONSTRAINT fk_pregunta_quiz FOREIGN KEY (quiz_id) REFERENCES public.quiz(id_quiz);


--
-- Name: pregunta_quiz fk_pregunta_tarjeta; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pregunta_quiz
    ADD CONSTRAINT fk_pregunta_tarjeta FOREIGN KEY (tarjeta_id) REFERENCES public.tarjeta(id_tarjeta);


--
-- Name: progreso_estudio fk_progreso_inscripcion; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.progreso_estudio
    ADD CONSTRAINT fk_progreso_inscripcion FOREIGN KEY (inscripcion_id) REFERENCES public.inscripcion(id_inscripcion);


--
-- Name: progreso_estudio fk_progreso_tarjeta; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.progreso_estudio
    ADD CONSTRAINT fk_progreso_tarjeta FOREIGN KEY (tarjeta_id) REFERENCES public.tarjeta(id_tarjeta);


--
-- Name: quiz fk_quiz_curso; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.quiz
    ADD CONSTRAINT fk_quiz_curso FOREIGN KEY (curso_id) REFERENCES public.curso(id_curso);


--
-- Name: quiz_mazo fk_quizmazo_mazo; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.quiz_mazo
    ADD CONSTRAINT fk_quizmazo_mazo FOREIGN KEY (mazo_id) REFERENCES public.mazo(id_mazo);


--
-- Name: quiz_mazo fk_quizmazo_quiz; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.quiz_mazo
    ADD CONSTRAINT fk_quizmazo_quiz FOREIGN KEY (quiz_id) REFERENCES public.quiz(id_quiz);


--
-- Name: respuesta_quiz fk_respuesta_pregunta; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.respuesta_quiz
    ADD CONSTRAINT fk_respuesta_pregunta FOREIGN KEY (pregunta_id) REFERENCES public.pregunta_quiz(id_pregunta);


--
-- Name: respuesta_quiz fk_respuesta_resultado; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.respuesta_quiz
    ADD CONSTRAINT fk_respuesta_resultado FOREIGN KEY (resultado_id) REFERENCES public.resultado_quiz(id_resultado);


--
-- Name: resultado_quiz fk_resultado_estudiante; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.resultado_quiz
    ADD CONSTRAINT fk_resultado_estudiante FOREIGN KEY (estudiante_id) REFERENCES public.usuario(id_usuario);


--
-- Name: resultado_quiz fk_resultado_quiz; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.resultado_quiz
    ADD CONSTRAINT fk_resultado_quiz FOREIGN KEY (quiz_id) REFERENCES public.quiz(id_quiz);


--
-- Name: tarjeta fk_tarjeta_mazo; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.tarjeta
    ADD CONSTRAINT fk_tarjeta_mazo FOREIGN KEY (mazo_id) REFERENCES public.mazo(id_mazo);


--
-- PostgreSQL database dump complete
--

\unrestrict eG3qmYiI2FUGKCMjmEhpNwYRQ4hvdMBpZMlAor6aM6F6FCPUFdjtLMPpc2QsqJb

